IndexOrderDefault Descending Date
IndexOptions NameWidth=* +FoldersFirst +HTMLTable +SuppressDescription

HeaderName HEADER.cgi
AddType text/html .cgi
IndexIgnore HEADER.cgi

IndexIgnore logo.png
IndexIgnore style.css
IndexStyleSheet style.css

AddIcon /icons/blank.png .md5
AddIcon /icons/compressed.png .bz2

# hide extra distracting files
IndexIgnore get-listing.py
IndexIgnore preview.jpg
