body
{
    font-family: sans-serif;
    line-height: 1.25em;
}

li
{
    margin-bottom: 1em;
}

table tr td
{
    padding-right: 1em;
}

/* first column: icon */
table tr td:first-child
{
    padding-left: 1em;
    padding-right: .25em;
}

/* last two columns: date and size */
table tr td + td + td,
table tr td + td + td + td
{
    font-size: 85%;
    font-family: monospace;
    white-space: pre;
}
